<div class="item item_front" *ngIf="card.side === 'front'" (click)="changeSideCard()">
    <div class="item-content">
        <div class="close" (click)="removeCard()"></div>
        <div class="name">{{ card.title }}</div>
    </div>
</div>

<div class="item item_back center" *ngIf="card.side === 'back'" (click)="changeSideCard()">
    <div class="item-content">
        <div class="close" (click)="removeCard()"></div>
        <div class="name">{{ card.title }}</div>
        <div class="description">
            {{ card.description }}
        </div>
    </div>
</div>